<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Quiz</title>
</head>


<body style = "margin-right: 230px; margin-left: 50px;">
    <form action="/submit" method="POST">
        
        
        {% for question in questions %}
            
            
            
            <h3>{{ question['question'] }}</h3>
            
            {% for option in question['options'] %}
                
                <input type="checkbox" name="{{ question['question'] }}" value="{{ option }}" style="width: 30px;">
                <label>{{ option }}</label><br>
            
            {% endfor %}
        
        <br>
        {% endfor %}
        

        <input type="submit" value="Submit" style = "position:fixed; top:100px; right:220px; color:blue; font-size: 30px; ">



    </form>
</body>
</html>